.about-header {
  width: 100%;
  height: 80vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.774);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-header section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/kids-zone-78260.appspot.com/o/happy-toddlers-5.png?alt=media&token=e2abad72-2752-4a58-935f-067ec63dddc2);
  background-position: bottom;
  background-size: 55%;
  background-repeat: no-repeat;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.we-are {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em 1em;
  gap: 5em;
}

.who-we-are {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em .1em;

}

.who-we-are .left-side {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-direction: column;
  padding: 1em;
}

.who-we-are .left-side p {
  line-height: 1.3em;
  font-size: clamp(0.9rem, 2vw, 1.5rem);
  letter-spacing: 0.01em;
  text-align: center;
}

.who-we-are .right-side {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.who-we-are .right-side img {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/kids-zone-78260.appspot.com/o/layered-waves.svg?alt=media&token=f5aa4674-9ad8-4649-84f7-b9eaf88a0508);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 10px solid orangered;
  border-radius: 1rem;
  width: 100%;
  max-height: 360px;
  object-fit: contain;
}

.what-we-do {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 5em 0em;
}

.what-we-do .left-side {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/kids-zone-78260.appspot.com/o/happy-toddlers-4.png?alt=media&token=d243c154-bd73-42bd-a869-2b3f94287c58);
  background-repeat: no-repeat;
  background-size: 42%;
  background-position: right bottom;
  gap: 2em;
  padding: 1em;
}

.what-we-do .left-side p {
  width: 60%;
  line-height: 1.3em;
  font-size: clamp(0.9rem, 2vw, 1.5rem);
  letter-spacing: 0.01em;
  text-align: start;
}

.what-we-do .left-side ol {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0.5em;
}

.what-we-do .left-side ol li {
  line-height: 1.3em;
  font-size: clamp(0.7rem, 2vw, 1.1rem);
  letter-spacing: 0.01em;
  text-align: center;
  display: flex;
  gap: 0.2em;
  align-items: center;
  text-align: center;
}

.what-we-do .left-side ol li strong {
  color: orangered;
}

/* creator div */

.about .creators {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding: 5em 0.5em;
}

.about .creators div {
  width: 50%;
  padding: 1em;
  border-radius: 1em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/kids-zone-78260.appspot.com/o/border-overlay.svg?alt=media&token=cbf78c3f-cf59-4813-9b17-ca23f97f5e2c);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 4px rgba(128, 128, 128, 0.808);
  box-shadow: 0px 0px 7px 1px rgba(128, 128, 128, 0.596);
}

.about .creators div h2 {
  color: rgb(139, 2, 2);
  letter-spacing: 1px;
  font-size: clamp(0.9rem, 2vw, 1.4rem);
}

.about .creators div p {
  line-height: 1.4em;
  font-size: clamp(0.85rem, 2vw, 1.4rem);
  letter-spacing: 0.02em;
  text-align: center;
}

.about .creators div h4 span {
  color: red;
}

.vision-mission {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  flex-direction: column;
  padding: 5em 1em;
}

.vision-mission p {
  line-height: 1.4em;
  font-size: clamp(0.85rem, 2vw, 1.5rem);
  letter-spacing: 0.01em;
  text-align: center;
  width: 80%;
}

/* Reviews */
.main-container {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 5em 0em;
}

.carousel-container {
  display: flex;
  width: 100%;
  max-width: 800px;
  height: 15em;
  position: relative;
  overflow: hidden;
}

.carousel-container .img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  padding: 1.5em;
}

.carousel-container .card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border-radius: 1.2rem;
  position: relative;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/kids-zone-78260.appspot.com/o/border-overlay2.svg?alt=media&token=f19a9768-24d4-42fb-94f0-dbd6b67ef5c8);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.carousel-container .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(236, 38, 4, 0.5);
  backdrop-filter: blur(8px);
  color: black;
  padding: 0.5em;
  border: none;
  font-size: 1.8rem;
  font-weight: 900;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.carousel-container .card h3 {
  font-size: clamp(1.5rem, 2vw, var(--font-size-30));
}

.carousel-container .card p {
  width: 95%;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.carousel-container .prev_btn {
  left: 0;
  z-index: 2;
}

.carousel-container .next_btn {
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 1000px) {
  .about-header {
    height: 50vh;
  }
  .about-header section {
    background-size: 70%;
  }
  .what-we-do .left-side {
    background-size: 60%;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .about-header {
    height: 55vh;
  }
  .about-header section {
    background-size: 100%;
  }
  .who-we-are,
  .what-we-do {
    flex-direction: column;
  }
  .what-we-do .right-side,
  .who-we-are .right-side {
    width: 100%;
  }
  .what-we-do .left-side,
  .who-we-are .left-side {
    width: 100%;
  }
  .about .creators div {
    width: 100%;
  }
  .vision-mission p {
    width: 100%;
  }
  .carousel-container .btn {
    font-size: 1.5rem;
  }

  .what-we-do .left-side {
    align-items: center;
    background-image: url("");
  }

  .what-we-do .left-side p {
    width: 100%;
    text-align: center;
  }
}
