.alphabets {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .8em;
  justify-content: center;
}

.letters {
  background-image: var(--alphabetImage);
  width: 17%;
  min-width: 110px;
  height: max(110px, 10vw);
  border: 2px solid orangered;
  padding: 1em 0em;
  border-radius: 0.5rem;
  position: relative;
  background-position: center;
  background-size: 45%;
  background-repeat: no-repeat;
}

.letters:nth-child(7),.letters:nth-child(11),.letters:nth-child(23){
  background-size: 30%;
}

.letters span {
  width: 40%;
  min-width: 100px;
  height: 20%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.letters span audio {
  width: 100%;
  height: 100%;
  outline: none;
}

.letters span audio source {
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: relative;
}

.letters::before {
  content: "";
  width: 30%;
  height: 25%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 2;
  bottom: 0;
  right: 0;
}

.letters p {
  width: 100%;
  min-width: 100px;
  position: absolute;
  padding: 0.3em 0.5em;
  text-shadow: 1px 1px 2px;
  bottom: 0;
  right: 0;
  z-index: 2;
  font-size: clamp(.8rem, 2vw, 1.2rem);
  display: flex;
  justify-content:space-between ;
  align-items: center;
  flex-wrap: nowrap;
}

.letters p strong{
  color: orangered;
  letter-spacing: 2.5px;
}
