.animals{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2em;
  padding: 0em .5em;
}

.animals div{
  background-image: var(--animalImage);
  width: clamp(155px, 20vw, 300px);
  height: max(150px, 13vw);
  border: 2px solid orangered;
  padding: 5em 0em;
  border-radius: .5rem;
  position: relative;
  background-position: center;
  background-size: 45%;
  background-repeat: no-repeat;
}

.animals div:nth-child(5){
  background-size: 50%;
}

.animals div span {
  width: 30%;
  min-width: 100px;
  height: 17%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.animals div span audio {
  width: 100%;
  height: 100%;
  outline: none; 
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.animals div span audio source {
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: relative;
}

.animals div::before{
  content: '';
  width: 30%;
  height: 25%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px); 
  z-index: 2;
  bottom: 0;
  right: 0;
  border-radius: .5rem;
}

.animals div p{
  position: absolute;
  padding: .3em .5em;
  text-shadow: 1px 1px 2px;
  bottom: 0;
  right: 0;
  border-radius: .5rem;
  z-index: 2;
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  letter-spacing: 1.5px;
}