/* ////////////// Home //////////// */

.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

/* ////////// Header //////////// */
.header {
  box-shadow: 0px 0px 15px 5px rgba(119, 118, 118, 0.349);
  display: grid;
  place-items: center;
  width: 100%;
  height: 90vh;
  position: relative;
}

.header-container {
  background-color: white;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.header-container .img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
}

.header-container .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  height: 100%;
}

.header-container .card .header-desc {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
  flex-direction: column;
  height: 30%;
}

.header-container .card .header-desc a {
  text-decoration: none;
}

.header-container .card .header-desc .Btn {
  position: relative;
  width: 250px;
  height: 50px;
  border-radius: 45px;
  font-size: clamp(.7rem, 2vw, 1rem);
  border: none;
  background-color: rgb(252, 100, 45);
  color: white;
  letter-spacing: 1.5px;
  box-shadow: 0px 10px 10px rgb(252, 178, 178) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgb(247, 119, 72) inset;
  cursor: url(../assets/cursor-icon.png), auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Btn::before {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.678);
  content: "";
  filter: blur(1px);
  top: 7px;
  border-radius: 50%;
}

.Btn::after {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.137);
  content: "";
  filter: blur(1px);
  bottom: 7px;
  border-radius: 50%;
}

.Btn:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.header-container .card .header-img-div {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: end;
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
}

.header-container > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .card .header-img-div img {
  object-fit: contain;
  width: 100%;
  height: 75%;
  position: relative;
}

.header-container .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(252, 150, 150, 0.5);
  backdrop-filter: blur(5px);
  color: black;
  padding: 0.5em;
  border: none;
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 900;
  cursor: url(../assets/cursor-icon.png), auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.header-container .card h3 {
  font-size: clamp(.9rem, 2vw, 1.7rem);
  width: 80%;
  text-align: center;
  --text-stroke-color: black;
  letter-spacing: 1.2px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.774);
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.header-container .prev_btn {
  left: 0;
  z-index: 2;
}

.header-container .next_btn {
  right: 0;
  z-index: 2;
}

/* ......................... */

main {
  width: 100%;
  background-color: white;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

main div {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  animation: camelion 30s ease infinite;
}

@keyframes camelion {
  0%,
  100% {
    background-color: orangered;
  }
  10% {
    background-color: orange;
  }
  20% {
    background-color: cyan;
  }
  30% {
    background-color: blue;
  }
  40% {
    background-color: lime;
  }
  50% {
    background-color: green;
  }
  60% {
    background-color: hotpink;
  }
  70% {
    background-color: red;
  }
  80% {
    background-color: rgb(119, 0, 255);
  }
  90% {
    background-color: darkorchid;
  }
}

main div:nth-child(1) {
  top: 30%;
  left: 30%;
  width: 100px;
  height: 100px;
  animation: stage1 15s ease infinite, camelion 30s ease infinite;
}

@keyframes stage1 {
  0%,
  100% {
    top: 30%;
    left: 30%;
  }
  50% {
    top: 50%;
    left: 60%;
  }
}

main div:nth-child(2) {
  top: 10%;
  left: 10%;
  width: 50px;
  height: 50px;
  animation: stage2 15s ease infinite, camelion 30s ease infinite;
}
@keyframes stage2 {
  0%,
  100% {
    top: 10%;
    left: 10%;
  }
  50% {
    top: 40%;
    left: 15%;
  }
}

main div:nth-child(3) {
  width: 90px;
  height: 90px;
  top: 30%;
  left: 75%;
  animation: stage3 15s ease infinite, camelion 30s ease infinite;
}
@keyframes stage3 {
  0%,
  100% {
    top: 30%;
    left: 75%;
  }
  50% {
    top: 40%;
    left: 15%;
  }
}
main div:nth-child(4) {
  top: 60%;
  left: 40%;
  animation: stage4 15s ease infinite, camelion 30s ease infinite;
}
@keyframes stage4 {
  0%,
  100% {
    top: 60%;
    left: 40%;
  }
  50% {
    top: 30%;
    left: 75%;
  }
}
main div:nth-child(5) {
  top: 10%;
  left: 90%;
  width: 50px;
  height: 50px;
  animation: stage5 15s ease infinite, camelion 30s ease infinite;
}
@keyframes stage5 {
  0%,
  100% {
    top: 10%;
    left: 90%;
  }
  50% {
    top: 80%;
    left: 40%;
  }
}
main div:nth-child(6) {
  top: 85%;
  left: 15%;
  width: 50px;
  height: 50px;
  animation: stage6 15s ease infinite, camelion 30s ease infinite;
}
@keyframes stage6 {
  0%,
  100% {
    top: 85%;
    left: 15%;
  }
  50% {
    top: 80%;
    left: 70%;
  }
}
main div:nth-child(7) {
  top: 80%;
  left: 90%;
  width: 80px;
  height: 80px;
  animation: stage7 15s ease infinite, camelion 30s ease infinite;
}
@keyframes stage7 {
  0%,
  100% {
    top: 80%;
    left: 90%;
  }
  50% {
    top: 10%;
    left: 70%;
  }
}
main div:nth-child(8) {
  top: 20%;
  left: 50%;
  width: 70px;
  height: 70px;
  animation: stage8 15s ease infinite, camelion 30s ease infinite;
}
@keyframes stage8 {
  0%,
  100% {
    top: 20%;
    left: 50%;
  }
  50% {
    top: 10%;
    left: 20%;
  }
}
main div:nth-child(9) {
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  animation: stage9 15s ease infinite, camelion 30s ease infinite;
}
@keyframes stage9 {
  0%,
  100% {
    top: 50%;
    left: 50%;
  }
  50% {
    top: 80%;
    left: 70%;
  }
}
main div:nth-child(10) {
  top: 70%;
  left: 70%;
  width: 80px;
  height: 80px;
  animation: stage10 15s ease infinite, camelion 30s ease infinite;
}
@keyframes stage10 {
  0%,
  100% {
    top: 70%;
    left: 70%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
}
main div:nth-child(11) {
  top: 50%;
  left: 5%;
  width: 50px;
  height: 50px;
  animation: stage11 15s ease infinite, camelion 30s ease infinite;
}
@keyframes stage11 {
  0%,
  100% {
    top: 50%;
    left: 5%;
  }
  50% {
    top: 5%;
    left: 50%;
  }
}
main div:nth-child(12) {
  top: 60%;
  left: 20%;
  width: 70px;
  height: 70px;
  animation: stage12 15s ease infinite, camelion 30s ease infinite;
}
@keyframes stage12 {
  0%,
  100% {
    top: 60%;
    left: 20%;
  }
  50% {
    top: 20%;
    left: 60%;
  }
}
main div:nth-child(13) {
  top: 90%;
  left: 50%;
  width: 40px;
  height: 40px;
  animation: stage13 15s ease infinite, camelion 30s ease infinite;
}
@keyframes stage13 {
  0%,
  100% {
    top: 90%;
    left: 50%;
  }
  50% {
    top: 20%;
    left: 80%;
  }
}
main div:nth-child(14) {
  top: 60%;
  left: 30%;
  width: 60px;
  height: 60px;
  animation: stage14 15s ease infinite, camelion 30s ease infinite;
}
@keyframes stage14 {
  0%,
  100% {
    top: 60%;
    left: 30%;
  }
  50% {
    top: 80%;
    left: 5%;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.395);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bolder;
  font-family: sans-serif;
}

/* ////////// Activities////////// */

.activities {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 7em 0.1em;
  gap: 2em;
}

.activities .cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 0em;
}

.activities .cards .card {
  padding: 3em 0em;
  width: clamp(15%, 25%, 500px);
  background-color: var(--lime-green);
  transition: 0.4s;
  max-height: 500px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-5);
  gap: 1em;
  color: var(--white);
  position: relative;
  box-shadow: 0px 0px 5px 2px rgba(128, 128, 128, 0.37);
}

.activities .cards .card:nth-child(2) {
  background-color: var(--red);
}

.activities .cards .card:nth-child(3) {
  background-color: var(--blue);
}

.activities .cards .card::before {
  content: "";
  width: 20%;
  height: 20%;
  background: rgba(255, 0, 0, 0.637);
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 0.397) 0%,
    var(--blue) 100%
  );
  backdrop-filter: blur(8px);
  position: absolute;
  inset: 0;
  transition: 0.8s;
  border-radius: var(--border-radius-5);
  opacity: 0;
}

.activities .cards .card::after {
  content: "";
  width: 20%;
  height: 20%;
  background: var(--red);
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 0.596) 0%,
    var(--blue) 100%
  );
  backdrop-filter: blur(8px);
  position: absolute;
  transition: 0.8s;
  bottom: 0;
  right: 0;
  border-radius: var(--border-radius-5);
  opacity: 0;
}

.activities .cards .card:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.activities .cards .card:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.activities .cards .card img {
  width: 35%;
  filter: saturate(3);
}

.activities .cards .card h2,
.activities .cards .card p,
.activities .cards .card img {
  z-index: 1;
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.575);
}

.activities .cards .card p {
  width: 90%;
}

/* fun activities */
.learning-moments {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding: 5em 3em;
}

.all-activities {
  width: 100%;
  display: grid;
  padding: 1em 0em;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}

.all-activities > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 5px solid orangered;
  max-width: 400px;
  border-radius: .5rem;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/kids-zone-78260.appspot.com/o/border-overlay2.svg?alt=media&token=f19a9768-24d4-42fb-94f0-dbd6b67ef5c8);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  position: relative;
}

.act-img-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.all-activities div img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  object-fit: contain;
  max-height: 200px;
  min-height: 190px;
}

.all-activities div p {
  width: 100%;
  max-height: 200px;
  padding: 1em 0.5em;
  background-color: orangered;
  color: white;
  text-align: center;
  font-size: clamp(0.8rem, 2vh, 1rem);
  transition: 0.4s ease;
  height: auto;
}

/* what we offer */
.what-we-offer {
  padding: 5em 0em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.offers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
  gap: 1em;
}

.offers .sec {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.sec-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--blue);
  gap: 1.5em;
  text-align: center;
  padding: 1em;
  border-radius: var(--border-radius-5);
  position: relative;
  cursor: url(../assets/cursor-icon.png), auto;
}

.sec-card:nth-child(2) {
  background-color: var(--red);
}
.sec-card:nth-child(3) {
  background-color: var(--blue-violet);
}
.sec-card:nth-child(4) {
  background-color: var(--lime-green);
}
.sec-card:nth-child(5) {
  background-color: var(--blue-violet);
}

.sec-card::after {
  content: "";
  width: 20%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.226);
  backdrop-filter: blur(15px);
  position: absolute;
  transition: 0.8s;
  bottom: 0;
  right: 0;
  border-radius: var(--border-radius-5);
  opacity: 0;
}

.sec-card:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.sec-card a {
  text-decoration: none;
}

.sec-card a img {
  width: 50px;
  padding: 0.2em;
  background-color: var(--white);
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
  z-index: 1;
}

.sec-text-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.sec-card h3 {
  font-size: var(--font-size-16);
  color: var(--white);
  z-index: 1;
}

.sec-card p {
  color: var(--white);
  font-size: clamp(0.5rem, 1vw, 1.1rem);
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.61);
  z-index: 1;
}

.sec-card p:hover,
.sec-card h3:hover {
  cursor: url(../assets/cursor-icon.png), auto;
}

.midSec {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.midSec div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.images {
  max-height: 250px;
  min-height: 200px;
  border: 5px solid var(--orange-red);
  border-radius: 1rem;
  object-fit: contain;
  display: flex;
  justify-content: baseline;
  position: relative;
  transition: 0.5s;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/kids-zone-78260.appspot.com/o/border-overlay2.svg?alt=media&token=f19a9768-24d4-42fb-94f0-dbd6b67ef5c8);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.midSec .image1,
.midSec .image4 {
  width: 100%;
}

.midSec .image2,
.midSec .image3 {
  width: 50%;
}

/* ///////////////// */
.learnNow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: aquamarine;
  padding: 2em;
}

.learnNow a {
  width: 40%;
  min-width: 300px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learnNow a .Btn {
  position: relative;
  width: 550px;
  height: 55px;
  border-radius: 45px;
  font-size: 1rem;
  border: none;
  background-color: rgb(252, 100, 45);
  color: white;
  letter-spacing: 1.5px;
  box-shadow: 0px 10px 10px rgb(252, 178, 178) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgb(247, 119, 72) inset;
  cursor: url(../assets/cursor-icon.png), auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.Btn::before {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.678);
  content: "";
  filter: blur(1px);
  top: 7px;
  border-radius: 50%;
}

.Btn::after {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.137);
  content: "";
  filter: blur(1px);
  bottom: 7px;
  border-radius: 50%;
}

.Btn:hover {
  animation: jello-horizontal 0.9s both;
}

/* /////////////////////////////////////////////// */
@media screen and (max-width: 1000px) {
  .activities {
    padding: 4em 0.1em;
    gap: 3em;
  }
  .activities .cards {
    padding: 0.2em;
    flex-wrap: wrap;
    gap: 2em;
    flex-direction: column;
  }

  .activities .cards .card {
    width: 65%;
    padding: 2em 1em;
    min-width: 300px;
  }

  .activities .cards .card img {
    width: 20%;
  }
  .activities .cards .card p {
    width: 75%;
  }

  .offers {
    flex-direction: column;
  }

  .offers .sec {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
  }

  .sec-card {
    width: 80%;
    max-width: 500px;
    min-width: 250px;
    padding: 2em;
  }

  .sec-card p {
    font-size: clamp(0.5rem, 2vw, 1.1rem);
    width: 80%;
  }

  .midSec {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em;
  }

  .images {
    width: 80%;
    max-height: 200px;
    min-height: 190px;
    max-width: 500px;
    min-width: 200px;
  }

  .midSec > div,
  .midSec .image4 {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .activities .cards .card p {
    width: 95%;
  }
  .sec-card {
    padding: 2em 1em;
  }
  .sec-card p {
    width: 100%;
  }
  .header-container .card h3 {
    width: 95%;
  }
  .header-container .card .header-desc .Btn {
    width: 180px;
    height: 40px;
  }
  .header-container .card .header-img-div img {
    height: 55%;
  }
}
