.colors {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  flex-wrap: wrap;
  padding: 0em .5em;
}

.color-world .colors div {
  background-color: var(--bg-color);
  width: clamp(100px, 13vw, 200px);
  height: max(100px, 13vw);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.13);
  cursor: pointer;
}

.color-world .colors div h3 {
  color: white;
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: center;
}

.color-world .colors div:nth-child(8) h3 {
  color: black;
}


@media screen and (max-width: 700px) {
  .colors {
    gap: 1.5em;
  }
  .color-world .colors div {
    width: 8%;
    min-width: 100px;
    padding:2em 1em;
  }
}
